# source
src
scripts
styles
vite

# output
out
!out/extension.js
!out/styles/**/*.css
*.map
*.vsix

# misc
TODO.md

# test
test
test-workspace
.vscode-test

# configs
.github
.vscode
tsconfig.*
.eslintrc*
.prettier*
.gitignore
pnpm-lock.yaml
vite.config.js

# esbuild-visualizer
meta.json
stats.html
