/*
 * One Dark
 * Original theme by: Atom Dev Team (https://atom.io/).
 * Ported by: Yogensia (https://www.yogensia.com/).
 */

$background         : #282c34;
$background-darker  : #21252b;
$background-brighter: #2c313a;
$background-border  : #3c4049;

$text        : #bdc3ce;
$text-dimmer : #bdc3ce;
$text-heading: #eeeeee;

$text-link      : #3fa0cc;
$text-link-hover: #45baf0;

$code-keyword : #61afef;
$code-type    : #c678dd;
$code-name    : #e06c75;
$code-string  : #e5c07b;
$code-default : #e5c07b;

$font-family-text: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-code: "Operator Mono", Inconsolata, Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

@import 'normalize';
@import 'rules';
