/*
 * Monokai
 * Original theme by: Wimer Hazenberg (https://www.monokai.pro/).
 * Ported by: Yogensia (https://www.yogensia.com/).
 */

$background         : #272822;
$background-darker  : #1d1e19;
$background-brighter: #32332d;
$background-border  : #5a5a5a;

$text        : #f8f8f2;
$text-dimmer : #75715e;
$text-heading: #f8f8f2;

$text-link      : #3fa0cc;
$text-link-hover: #45baf0;

$code-keyword : #a6e22e;
$code-type    : #fdfff1;
$code-name    : #ae81ff;
$code-string  : #ffd866;
$code-default : #f92672;

$font-family-text: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-code: "Operator Mono", Inconsolata, Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

@import 'normalize';
@import 'rules';
