/*
 * Monokai
 * Original theme by: Wimer Hazenberg (https://www.monokai.pro/).
 * Ported by: Yogensia (https://www.yogensia.com/).
 */

$background         : #272822;
$background-darker  : #1e1f1c;
$background-brighter: #414339;
$background-border  : #5a5a5a ;

$text        : #f8f8f2;
$text-dimmer : #75715e;
$text-heading: #f8f8f2;

$text-link      : #3fa0cc;
$text-link-hover: #45baf0;

$code-function: #a6e22e ;
$code-type    : #66d9ef ;
$code-name    : #f8f8f2 ;
$code-default : #ae81ff;
$code-block   : #e6db74;

$font-family-text: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-code: "Operator Mono", Inconsolata, Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

@import 'rules';
